@using WebApp.Models.ViewModels
@model LearnViewModels
@{
    ViewData["Title"] = "学习";
}
<!--导航部分-->
<div class="row">
    <ul class="learn-nav col-12 d-flex">
        <li class="nav-title">视频</li>
        @foreach (var item in Model.VideoCatalogs)
        {
            <li>
                <a asp-route-topCatalogId="@item.Id" asp-route-type="Video">
                    @item.Name
                </a>
            </li>
        }
    </ul>
</div>
@*<div class="row">
        <ul class="learn-nav d-flex col-12">
            <li class="nav-title">博客</li>
            @foreach (var item in Model.ArticleCatalogs)
            {
                <li>
                    <a asp-route-topCatalogId="@item.Id" asp-route-type="Blog">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>*@
@*<div class="row">
        <ul class="learn-nav d-flex">
            <li class="nav-title">练习</li>
            @foreach (var item in Model.ArticleCatalogs)
            {
                <li><a asp-route-id="@item.Id">@item.Name</a></li>
            }
        </ul>
    </div>*@

<!--内容-->
<div class="row mt-2 learn-container">
    <!--左侧二级导航-->
    <div class="col col-md-auto p-2 bg-light mr-2 d-none d-sm-inline-block">
        <ul class="nav flex-column nav-pills">
            @foreach (var navs in Model.SecondaryNavs)
            {
                <li class="">
                    <a asp-route-navId="@navs.Id" asp-route-type="@TempData["learnType"]" asp-route-topCatalogId="@Context.Request.Query["topCatalogId"]" class="nav-link">@navs.Name</a>
                </li>
            }

        </ul>
    </div>
    <div class="col-md-12 p-2 bg-light d-sm-none">
        <select class="form-control custom-select" name="SecondaryNavs">
            @foreach (var navs in Model.SecondaryNavs)
            {
                <option value="@navs.Id">
                    @navs.Name 
                </option>
            }

        </select>
    </div>

    <div class="col col-md-10 bg-light">
        <form asp-action="SetFilter" class="row justify-content-between form-inline text-dark py-1" style="border-bottom:1px solid #ddd">
            <div class="col-md-6">
                <select name="language" class="form-control form-control-sm">
                    <option value="all">全部</option>
                    <option value="en">英文</option>
                    <option value="zh-cn">中文</option>
                </select>
                <button class="btn btn-sm btn-dark form-control" type="submit">筛选</button>
            </div>
            <div class="col-md-6 text-right">
                @*<input type="search" name="name" value="" class="form-control form-control-sm" />
                    <button class="btn btn-primary btn-sm" type="submit">搜索</button>*@
            </div>
        </form>

        <section name="videos" class="row">
            @if (Model.VideoList.Count > 0)
            {
                foreach (var item in Model.VideoList)
                {
                    //处理作者
                    var author = StringHelper.SubString(item.Author, 20);
                    author = string.IsNullOrWhiteSpace(author) ? "未知" : author;
                    <div class="col-md-4 px-2 my-2">
                        <div class="card border-0" style="box-shadow:1px 1px 3px 1px #ccc">
                            <a class="card-img-top" asp-action="@TempData["DetailPage"]" asp-controller="Video" asp-route-id="@item.Id" target="_blank">
                                <img src="@item.ThumbnailUrl" style="max-height:200px;width:100%" />
                            </a>
                            <div class="card-body p-1">
                                <h6 class="card-title mb-0">
                                    <a class="text-dark" asp-action="@TempData["DetailPage"]" asp-controller="Video" asp-route-id="@item.Id" target="_blank">
                                        @Html.Raw(@item.Name)
                                    </a>
                                </h6>
                                <div class="card-text justify-content-between d-flex">
                                    <div class="text-info">
                                        <small>
                                            作者:
                                            <span class="" title="@item.Author">
                                                @author
                                            </span>
                                        </small>
                                    </div>
                                    <div class="text-muted">
                                        <small>
                                            @item.CreatedTime.ToString("yyyy-MM-dd")
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <pager pager-option="Model.Pager as MyPagerOption"></pager>
            }
        </section>
        <section name="blogs"></section>
        <section name="practices"></section>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $("select[name='SecondaryNavs'] option[value='@Context.Request.Query["navId"]']").attr("selected","selected");

            $("select[name='SecondaryNavs']").change(function () {
                var navId = $(this).val();
                location.href = `/Learn?navId=${navId}&topCatalogId=@Context.Request.Query["topCatalogId"]&type=@TempData["learnType"]`;

            });
        });

    </script>

}