@using WebApp.Models.ViewModels
@model LearnViewModels
@{
    ViewData["Title"] = "学习";
}
<!--导航部分-->
<div class="row">
    <ul class="learn-nav col-12 d-flex">
        <li class="nav-title">视频</li>
        @foreach (var item in Model.VideoCatalogs)
        {
            <li>
                <a asp-route-topCatalogId="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>
</div>
<div class="row">
    <ul class="learn-nav d-flex col-12">
        <li class="nav-title">博客</li>
        @foreach (var item in Model.ArticleCatalogs)
        {
            <li>
                <a asp-route-topCatalogId="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>
</div>

@*<div class="row">
        <ul class="learn-nav d-flex">
            <li class="nav-title">练习</li>
            @foreach (var item in Model.ArticleCatalogs)
            {
                <li><a asp-route-id="@item.Id">@item.Name</a></li>
            }
        </ul>
    </div>
*@
<!--内容-->
<div class="row mt-2 learn-container">
    <!--左侧二级导航-->
    <div class="col col-md-auto bg-white p-2 mr-2 d-none d-sm-inline-block">
        <ul class="nav flex-column nav-pills">
            @foreach (var navs in Model.SecondaryNavs)
            {
                var active = "";
                if (navs.Id.ToString() == ViewBag.NavId as string)
                {
                    active = "active";
                }
                <li class="nav-item">
                    <a asp-route-navId="@navs.Id" asp-route-topCatalogId="@Context.Request.Query["topCatalogId"]"
                       class="nav-link @active">
                        @navs.Name
                    </a>
                </li>
            }

        </ul>
    </div>
    <div class="col-md-12 p-2 bg-white d-sm-none">
        <select class="form-control custom-select" name="SecondaryNavs">
            @foreach (var navs in Model.SecondaryNavs)
            {
                if (navs.Id.ToString() == ViewBag.NavId as string)
                {
                    <option value="@navs.Id" selected>
                        @navs.Name
                    </option>
                }
                else
                {
                    <option value="@navs.Id">
                        @navs.Name
                    </option>
                }
            }

        </select>
    </div>

    <div class="col col-md-10">
        <form asp-action="SetFilter" class="row bg-white justify-content-between form-inline text-dark py-1">
            <input type="hidden" name="topCatalogId" value="@Context.Request.Query["topCatalogId"]" />
            <input type="hidden" name="navId" value="@Context.Request.Query["navId"]" />
            <input type="hidden" name="learnType" value="@TempData["learnType"]" />
            <div class="col-md-6">
                <select name="language" class="form-control form-control-sm">
                    <option value="">全部</option>
                    <option value="en">英文</option>
                    <option value="zh">中文</option>
                </select>

                @if (Model.EventList.Count > 0)
                {
                    <select name="eventId" class="form-control form-control-sm" style="max-width:240px">
                        @foreach (var item in Model.EventList as List<C9Event>)
                        {
                            <option value="@item.Id">
                                @Html.Raw(item.TopicName)
                            </option>
                        }
                    </select>
                }
                <button class="btn btn-sm btn-dark form-control" type="submit">筛选</button>
            </div>
            <div class="col-md-6 text-right">
                @*<input type="search" name="name" value="" class="form-control form-control-sm" />
                    <button class="btn btn-primary btn-sm" type="submit">搜索</button>*@
            </div>
        </form>
        <section name="videos" class="row">
            @if (Model.VideoList.Count > 0)
            {
                foreach (var item in Model.VideoList)
                {
                    //处理作者
                    var author = StringHelper.SubString(item.Author, 20);
                    author = string.IsNullOrWhiteSpace(author) ? "未知" : author;
                    <div class="col-md-4 px-3 my-2">
                        <div class="card border-0 my-1" style="box-shadow:0 1px 2px 1px #ddd;">
                            <a class="card-img-top" asp-action="@TempData["DetailPage"]" asp-controller="Video" asp-route-id="@item.Id" target="_blank">
                                <img src="@item.ThumbnailUrl" style="max-height:200px;width:100%;border-radius:5px 5px 2px 2px !important" />
                            </a>
                            <div class="card-body p-1">
                                <h6 class="card-title mb-0">
                                    <a class="text-dark" asp-action="@TempData["DetailPage"]" asp-controller="Video" asp-route-id="@item.Id" target="_blank">
                                        <strong>
                                            @Html.Raw(@item.Name)
                                        </strong>
                                    </a>
                                </h6>
                                <div class="card-text justify-content-between d-flex">
                                    <div>
                                        <small class="text-info">
                                            <span class="" title="@item.Author">
                                                @author
                                            </span>
                                            &nbsp;&nbsp;
                                            <span class="text-muted">浏览：@item.Views</span>
                                        </small>
                                    </div>
                                    <div class="text-muted">
                                        <small>
                                            @item.CreatedTime.ToString("yyyy-MM-dd")
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <pager pager-option="Model.Pager as MyPagerOption"></pager>
            }
        </section>
        <section name="blogs" class="row">
            @foreach (var blog in Model.BlogList)
            {
                <div class="col-lg-12 mt-2 px-4 pt-2 bg-white" style="border-left:2px solid dodgerblue">
                    <div class="justify-content-between row m-0">
                        <h5>
                            <a class="text-info" asp-controller="Article" asp-action="@blog.Catalog.Value" asp-route-id="@blog.Id">@blog.Title</a>
                        </h5>
                        <small class="text-muted">
                            @blog.AuthorName @blog.CreatedTime.ToString("yyyy-MM-dd H:mm")
                            &nbsp;&nbsp;@(blog.Views == null ? "" : "浏览: " + blog.Views)
                        </small>
                    </div>
                    <p class="text-dark" style="text-indent:0">
                        @blog.Description
                    </p>

                </div>
            }
        </section>
        <section name="practices"></section>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("select[name='language'] option[value='@TempData["language"]']").attr("selected", "selected");
            $("select[name='eventId'] option[value='@Context.Request.Query["eventId"]']").attr("selected", "selected");

            $("select[name='SecondaryNavs']").change(function () {
                var navId = $(this).val();
                location.href = `/Learn?navId=${navId}
                    &topCatalogId=@Context.Request.Query["topCatalogId"]`;
            });

        });

    </script>

}