@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="zh-cn">
    <meta name="keywords" content="微软中国开发者,msdev,msdevcc,微软开发者,dotnet,net core,xamarin,azure" />
    <meta name="description" content="微软中国开发者社区!本站点主要为国内用户，提供微软相关的资讯、优质的教学视频内容、常用的资源下载以及在线交流等一站式服务！" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]-MSDev微软中国开发者</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/mobile.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!--标题栏-->
    <div class="container-fluid ">
        <div class="row title-bar">
            <div class="col-2">
                @if (ViewData["backUrl"] != null)
                {
                    <a asp-action="@ViewData["backUrl"]">
                        <!--返回按钮-->
                        <i class="iconfont icon-backicon1"></i>
                    </a>
                }

            </div>
            <div class="col-8" style="overflow:hidden">
                @ViewData["Title"]
            </div>
            <div class="col-2">
                <!--功能按钮-->
                <span></span>
            </div>
        </div>
    </div>
    <!--内容-->
    <div class="container-fluid">
        <div class="row p-2" style="padding-bottom:60px !important;">
            @RenderBody()
        </div>
    </div>
    <!--底部导航-->
    <footer class="container-fluid bg-white " style="position:fixed;bottom:0;border-top:1px solid #f4f4f4">
        <div class="row  text-center">
            <div class="col-3 ">
                <div class="bn-menu" data-menu="news">
                    <div class="bn-menu-icon">
                        <i class="iconfont icon-news"></i>
                    </div>
                    <div class="bn-menu-title">
                        资讯
                    </div>
                </div>
            </div>
            <div class="col-3 ">
                <div class="bn-menu" data-menu="document">
                    <div class="bn-menu-icon">
                        <i class="iconfont icon-document"></i>
                    </div>
                    <div class="bn-menu-title">
                        文档
                    </div>
                </div>
            </div>
            <div class="col-3 flex-column">
                <div class="bn-menu" data-menu="video">
                    <div class="bn-menu-icon">
                        <i class="iconfont icon-video"></i>
                    </div>
                    <div class="bn-menu-title">
                        视频
                    </div>
                </div>
            </div>
            <div class="col-3 flex-column">
                <div class="bn-menu" data-menu="community">
                    <div class="bn-menu-icon">
                        <i class="iconfont icon-group"></i>
                    </div>
                    <div class="bn-menu-title">
                        社区
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/baidu.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        // 导航链接
        $(".bn-menu").click(function () {
            const menuName = $(this).data("menu");
            let navRoute = '/mobile';
            switch (menuName) {
                case 'news':
                    navRoute += '/news';
                    break;
                case 'document':
                    navRoute += '/document';

                    break;
                case 'video':
                    navRoute += '/video';

                    break;
                case 'community':
                    navRoute += '/community';
                    break;
                default:
            }
            location.href = navRoute;
            console.log(menuName);
        }
        );


    });
</script>