@{
    Layout = "_Layout";
    ViewData["Title"] = "文档-MSDev";
}
@model WebApp.Models.ViewModels.DocumentViewModels

<style>
    .list-group-item{
        border:none;
        border-bottom:1px solid #eee;
    }
</style>
<div class="row">
    <div class="col-md-3 mt-2">
        @{
            @foreach (var catalog in Model.Catalog)
            {
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-heading p-2" 
                       data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value"
                       style="background-color:#fafafa">
                        <strong>
                            @catalog.Name
                        </strong>
                    </a>
                    <div class="collapse show" id="collapse-@catalog.Value">
                        @foreach (var childCatalog in catalog.InverseTopCatalog)
                        {
                            var id = ViewContext.RouteData.Values["id"]?.ToString();
                            string liClass = "";
                            if (id == childCatalog.Id.ToString().ToLower())
                            {
                                liClass = "active";
                            }
                            <a asp-route-id="@childCatalog.Id" class="list-group-item p-2 pl-4 @liClass">@childCatalog.Name</a>
                        }
                    </div>
                </div>

            }
        }
    </div>

    <div class="col-md-9">
        <div id="accordion" role="tablist">
            @if (Model.Resource != null)
            {
                <div class="row">
                    @foreach (var resource in Model.Resource)
                    {
                        <div class="col-md-4 mt-2">
                            <div class="card document-card my-1 text-center" style="border:none;box-shadow: 0 1px 2px 1px #dedede;">
                                <a href="@resource.AbsolutePath" target="_blank" class="py-3" style="text-decoration:none">
                                    @if (!string.IsNullOrEmpty(resource.Imgurl))
    {
                                <img src="@resource.Imgurl" title="@resource.Name" width="36px" style="border-radius:50% !important" />
}
                                    <span class="align-middle">
                                        @resource.Name
                                    </span>
                                    <small class="align-middle">
                                        <span class="badge badge-light">
                                            @TypeValueHelper.Language[resource.Language]
                                        </span>
                                    </small>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
