@{
    Layout = "_Layout";
    ViewData["Title"] = "文档-MSDev";
}
@model WebApp.Models.ViewModels.DocumentViewModels

<div class="row">
    <div class="col-md-3">
        @{
            @foreach (var catalog in Model.Catalog)
            {
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-heading p-2" data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                        @catalog.Name
                    </a>
                    <div class="collapse show" id="collapse-@catalog.Value">
                        @foreach (var childCatalog in catalog.InverseTopCatalog)
                        {
                            var id = ViewContext.RouteData.Values["id"]?.ToString();
                            string liClass = "";
                            if (id == childCatalog.Id.ToString().ToLower())
                            {
                                liClass = "active";
                            }
                            <a asp-route-id="@childCatalog.Id" class="list-group-item p-2 pl-4 @liClass">@childCatalog.Name</a>
                        }
                    </div>
                </div>

            }
        }
    </div>

    <div class="col-md-9">
        <div id="accordion" role="tablist">
            @if (Model.Resource != null)
            {
                <div class="row">
                    @foreach (var resource in Model.Resource)
                    {
                        <div class="col-md-6 my-1 p-1 px-2">
                            <div class="media p-1" style="border:1px solid #ccc">
                                <div class="d-flex align-self-center mr-3">
                                    @if (!string.IsNullOrEmpty(resource.Imgurl))
                                    {
                                        <img src="@resource.Imgurl" title="@resource.Name" width="64" height="64" style="border-radius:1px !important" />
                                    }
                                </div>
                                <div class="media-body">
                                    <h5>
                                        <a href="@resource.AbsolutePath" target="_blank">
                                            @resource.Name
                                        </a>
                                        <small>
                                            <span class="badge badge-default">
                                                @TypeValueHelper.Language[resource.Language]
                                            </span>
                                        </small>
                                    </h5>
                                    @resource.Description
                                </div>

                            </div>

                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
