@{
    Layout = "_Layout";
    ViewData["Title"] = "文档-MSDev";
}
@model WebApp.Models.ViewModels.DocumentViewModels

<div class="row">
    <div class="col-md-3">
        @{
            @foreach (var catalog in Model.Catalog)
            {
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-heading p-2" data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                        @catalog.Name
                    </a>
                    <div class="collapse show" id="collapse-@catalog.Value">
                        @foreach (var childCatalog in catalog.InverseTopCatalog)
                        {
                            var id = ViewContext.RouteData.Values["id"]?.ToString();
                            string liClass = "";
                            if (id == childCatalog.Id.ToString().ToLower())
                            {
                                liClass = "active";
                            }
                            <a asp-route-id="@childCatalog.Id" class="list-group-item p-2 pl-4 @liClass">@childCatalog.Name</a>
                        }
                    </div>
                </div>

            }
        }
    </div>

    <div class="col-md-9">
        <div id="accordion" role="tablist">
            @if (Model.Resource != null)
            {
                <div class="row">
                    @foreach (var resource in Model.Resource)
                    {
                        <div class="col-md-4">
                            <div class="card document-card my-2 text-center" style="border:1px solid #dbdbdb;box-shadow: 0px 2px 5px #e8e8e8;">
                                <a href="@resource.AbsolutePath" target="_blank" class="py-3" style="text-decoration:none">
                                    @if (!string.IsNullOrEmpty(resource.Imgurl))
                                    {
                                        <img src="@resource.Imgurl" title="@resource.Name" width="36px" style="border-radius:50% !important"/>
                                    }
                                    <span>
                                        @resource.Name
                                        <small>
                                            <span class="badge badge-light">
                                                @TypeValueHelper.Language[resource.Language]
                                            </span>
                                        </small>
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
