@{
    Layout = "_Layout";
    ViewData["Title"] = "视频-MSDev";
}
@model WebApp.Models.ViewModels.VideoViewModels

<div class="row">
    <div class="col-md-3">
        @foreach (var catalog in Model.Catalog)
        {
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-heading p-2" data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                    MVA视频分类
                </a>
                <div class="collapse show" id="collapse-@catalog.Value">
                    @foreach (var childCatalog in catalog.InverseTopCatalog)
                    {
                        var id = ViewContext.RouteData.Values["id"]?.ToString();
                        string liClass = "";
                        if (id == childCatalog.Id.ToString().ToLower())
                        {
                            liClass = "active";
                        }
                        <a asp-route-tech="@childCatalog.Name" class="list-group-item p-2 pl-4 @liClass">@childCatalog.Name</a>
                    }
                </div>
            </div>
        }

    </div>

    <div class="col-md-9">
        @foreach (var video in Model.MvaVideos)
        {
            var content = StringHelper.ReplaceHtmlTag(video.Description);
            var shortContent = StringHelper.SubString(content, 100);
            var tags= StringHelper.SubString(video.Tags,66);

            <div class="card my-2">
                <div class="card-block p-2">
                    <div class="media">
                        <div class="d-md-flex align-self-center mr-md-3 d-none">
                            <a href="@video.SourceUrl" target="_blank">
                                <img src="@video.CourseImage" width="220" title="@video.Title"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h5>
                                <a href="@video.SourceUrl" target="_blank">
                                    @video.Title
                                </a>
                            </h5>
                            @if (!string.IsNullOrEmpty(video.Author))
                            {
                                <span class="text-muted" style="font-size:0.9rem">
                                    作者:
                                    @video.Author
                                    &nbsp;&nbsp;
                                    @video.UpdatedTime.ToString("yyyy-MM-dd")
                                </span>
                                <br />
                            }

                            <span class="text-primary" title="@video.Tags"
                                  style="font-size:0.9rem">
                                Tags：@tags
                            </span>

                            <p title="@content">
                                @shortContent
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <pager pager-option="Model.Pager as MyPagerOption"></pager>
    </div>
</div>
