@model WebApp.Models.ViewModels.VideoDetailModels
@{
    Layout = "_Layout";

    var video = Model.MvaVideo;
    var details = Model.Details;
    ViewData["Title"] = video.Title + "-视频-MSDev";

}

<div class="row">
    @{
        var content = StringHelper.ReplaceHtmlTag(video.Description);
        var shortContent = StringHelper.SubString(content, 300);
        var tags = StringHelper.SubString(video.Tags, 66);
    }
    <div class="col-md-7">
        <h5>
            @video.Title
            @if (!string.IsNullOrEmpty(video.Author))
            {
                <span class="text-muted" style="font-size:0.9rem">
                    作者:
                    @video.Author
                    &nbsp;&nbsp;
                    @video.UpdatedTime.ToString("yyyy-MM-dd")
                </span>

            }
        </h5>
        <video controls="controls" width="100%" class="invisible">
            <source src="" type="video/mp4"/>
        </video>
    </div>
    <div class="col-md-5">
        <div>

            <span class="text-primary" title="@video.Tags"
                  style="font-size:0.9rem">
                Tags：@tags
            </span>

            <p title="@content">
                @shortContent
            </p>
        </div>
        @foreach (var detail in details)
        {
            <a>
                <h6>
                    @detail.Title
                    @detail.LowDownloadUrl
                </h6>
            </a>
        }
    </div>
</div>
