@{
    Layout = "_Layout";
    ViewData["Title"] = "视频-MSDev";
}
@model WebApp.Models.ViewModels.VideoViewModels

<div class="row">
    <div class="col-md-3">
        @foreach (var catalog in Model.Catalog)
        {
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-success" data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                    @catalog.Name
                </a>
                <div class="collapse show" id="collapse-@catalog.Value">
                    @foreach (var childCatalog in catalog.InverseTopCatalog)
                    {
                        var id = ViewContext.RouteData.Values["id"]?.ToString();
                        string liClass = "";
                        if (id == childCatalog.Id.ToString().ToLower())
                        {
                            liClass = "active";
                        }
                        <a asp-route-tech="@childCatalog.Name" class="list-group-item list-group-item-action @liClass">@childCatalog.Name</a>
                    }
                </div>
            </div>
        }

    </div>

    <div class="col-9">
        @foreach (var video in Model.MvaVideos)
        {
            var content = StringHelper.ReplaceHtmlTag(video.Description);
            var shortContent = content.Substring(0, 100) + "...";
            <div class="card my-2">
                <div class="card-block p-2">
                    <div class="media">
                        <div class="d-flex align-self-center mr-3">
                            <a href="@video.SourceUrl" target="_blank">
                                <img src="@video.CourseImage" width="220" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h5>
                                <a href="@video.SourceUrl">
                                    @video.Title
                                </a>
                            </h5>
                            @if (!string.IsNullOrEmpty(video.Author))
                            {
                                <span class="text-muted" style="font-size:0.9rem">
                                    作者:
                                    @video.Author
                                    &nbsp;&nbsp;
                                    @video.UpdatedTime.ToString("yyyy-MM-dd")
                                </span>
                                <br />
                            }

                            <span class="text-primary" style="font-size:0.9rem">
                                相关技术：@video.Technologies
                            </span>

                            <p title="@content">
                                @shortContent
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
