@{
    Layout = "_Layout";
    ViewData["Title"] = "视频-MSDev";
}
@model WebApp.Models.ViewModels.VideoViewModels

<div class="row">
    <div class="col-md-3">
        @foreach (var catalog in Model.Catalog)
        {
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-success" data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                    @catalog.Name
                </a>
                <div class="collapse show" id="collapse-@catalog.Value">
                    @foreach (var childCatalog in catalog.InverseTopCatalog)
                    {
                        var id = ViewContext.RouteData.Values["id"]?.ToString();
                        string liClass = "";
                        if (id == childCatalog.Id.ToString().ToLower())
                        {
                            liClass = "active";
                        }
                        <a asp-route-id="@childCatalog.Name" class="list-group-item list-group-item-action @liClass">@childCatalog.Name</a>
                    }
                </div>
            </div>
        }

    </div>

    <div class="col-9">
        @foreach (var video in Model.MvaVideos)
        {
            <div class="media my-2">
                <div class="d-flex align-self-center mr-3">
                    <img src="@video.CourseImage" width="200" />
                    <br />

                </div>
                <div class="media-body">
                    <a href="@video.SourceUrl">
                        @video.Title
                    </a>
                    <br />
                    作者:
                    @video.Author
                    <br />
                    @video.Technologies
                    <br />
                    更新时间:@video.CreatedTime
                    <span title="@Html.Raw(@video.Description)">
                        @{
                            var content = Html.Raw(@video.Description).ToString();
                            content = content.Substring(0, 100) + "...";
                        }
                        @content
                    </span>
                </div>
            </div>
                            }
    </div>
</div>
