@using System.Web
@model WebApp.Models.ViewModels.IndexViewModels
@{
    ViewData["Title"] = "微软中国开发者社区";
    var newsList = Model.BingNews;
    var blogList = Model.MsBlogs;
    var downloadList = Model.Downloads;
    var documentList = Model.Documents;
    var videoList = Model.Videos;
    var c9VideoList = Model.C9Videos;
    var selfNews = Model.SelfNews;
    var video1 = videoList[0];
    var video2 = videoList[1];
    var video3 = videoList[2];
}
<style>
    .card {
        border: none;
        border-top: 3px solid #47a4f3;
        border-left: 1px dashed #eee;
        border-right: 1px dashed #eee;
    }

    .card-header {
        background-color: #f4f4f4;
        border-bottom: 1px solid #eee;
    }
</style>
<!--左边主体内容-->
<div class="row">
    <div class="col-md-8">
        <!--新闻-->
        @if (selfNews.Count > 0)
        {
            <div class="row mb-2 mt-2 py-2 bg-white" style="border-top:3px solid #bf1bd8">
                @foreach (var news in selfNews)
                {
                    <div class="col-md-6">
                        <h6 class="m-0">
                            <a asp-controller="Article" asp-action="Detail" asp-route-id="@news.Id" style="color:black !important;">
                                <strong>
                                    @news.Title
                                </strong>
                            </a>
                        </h6>
                    </div>
                }
            </div>
        }
        <!--推荐视频 -->
        <div class="row mb-2">
            <div class="card col-12 p-0">
                <div class="card-header p-2 d-flex justify-content-between">
                    <div class="col">
                        <strong>
                            推荐视频
                        </strong>
                    </div>
                    <div class="col text-right">
                        <a asp-action="Index" asp-controller="Learn">查看更多</a>
                    </div>
                </div>
                <div class="card-text p-2 bg-light">
                    <!--教学视频-->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="video-banner">
                                <a class="video-banner-img" asp-action="Detail" asp-controller="Video" asp-route-id="@video1.Id" target="_blank">
                                    <img src="@video1.ThumbnailUrl" alt="@video1.Name" />
                                </a>
                                <div class="video-banner-content p-1">
                                    <h5 class="content-title">
                                        @video1.Name
                                    </h5>
                                    <div class="content-detail">
                                        <small>
                                            <span class="text-light">
                                                作者:
                                                <span class="text-light">
                                                    @video1.Author
                                                </span>
                                                &nbsp;&nbsp;
                                                @video1.UpdatedTime.ToString("yyyy-MM-dd")
                                            </span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-banner">
                                <a class="video-banner-img" asp-action="Detail" asp-controller="Video" asp-route-id="@video2.Id" target="_blank">
                                    <img src="@video2.ThumbnailUrl" alt="@video2.Name" />
                                </a>
                                <div class="video-banner-content p-1">
                                    <h7 class="content-title">
                                        @video2.Name
                                    </h7>
                                    <div class="content-detail" hidden>
                                        <small>
                                            <span class="text-light">
                                                作者:
                                                <span class="text-light">
                                                    @video2.Author
                                                </span>
                                                &nbsp;&nbsp;
                                                @video2.UpdatedTime.ToString("yyyy-MM-dd")
                                            </span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="video-banner mt-3">
                                <a class="video-banner-img" asp-action="Detail" asp-controller="Video" asp-route-id="@video3.Id" target="_blank">
                                    <img src="@video3.ThumbnailUrl" alt="@video3.Name" />
                                </a>
                                <div class="video-banner-content p-1">
                                    <h7 class="content-title">
                                        @video3.Name
                                    </h7>
                                    <div class="content-detail" hidden>
                                        <small>
                                            <span class="text-light">
                                                作者:
                                                <span class="text-light">
                                                    @video3.Author
                                                </span>
                                                &nbsp;&nbsp;
                                                @video3.UpdatedTime.ToString("yyyy-MM-dd")
                                            </span>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--mva视频-->
                    <div class="row mt-3">
                        @foreach (var video in c9VideoList)
                        {
                            video.SourceUrl = "https://channel9.msdn.com" + video.SourceUrl;
                            <div class="col-md-4">
                                <div class="video-banner">
                                    <a class="video-banner-img" asp-action="C9Detail" asp-controller="Video" asp-route-id="@video.Id" target="_blank">
                                        <img src="@video.ThumbnailUrl" />
                                    </a>
                                    <div class="video-banner-content p-1" title="@Html.Raw(video.Title)">
                                        <h7 class="content-title">
                                            @StringHelper.ReplaceHtmlTag(@video.Title, 40)
                                        </h7>
                                        <div class="content-detail" hidden>
                                            <small>
                                                <span class="text-light">
                                                    作者:
                                                    <span class="text-light">
                                                        @video.Author
                                                    </span>
                                                    &nbsp;&nbsp;
                                                    @video.UpdatedTime.ToString("yyyy-MM-dd")
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
        <!--资讯-->
        <div class="row mb-2">
            <div class="card col-md-6 p-0">
                <div class="card-header p-2 d-flex justify-content-between">
                    <div class="col">
                        <strong>
                            最新资讯
                        </strong>
                    </div>
                    <div class="col text-right">
                        <a asp-action="Index" asp-controller="News">查看更多</a>
                    </div>
                </div>
                <div class="card-block p-1">
                    @{
                        foreach (var bingNews in newsList)
                        {
                            var Url = HttpUtility.ParseQueryString(new Uri(bingNews.Url).Query);
                            <div class="row my-3 mx-1">
                                @*<div class="col-md-auto hidden-sm-down">
                                        <a href="@Url["r"]" target="_blank">
                                            <img class="bingnews-small" src="@bingNews.ThumbnailUrl">
                                        </a>
                                    </div>*@
                                <div class="col px-1">
                                    <div class="card-title mb-0">
                                        <a href="@Url["r"]" target="_blank" class="text-dark">
                                            @bingNews.Title
                                        </a>
                                    </div>
                                    <div class="card-text text-muted">
                                        <small>
                                            <span class="text-info">
                                                @bingNews.Provider
                                            </span>
                                            @bingNews.UpdatedTime.ToString("yyyy-M-dd")
                                        </small>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card col-md-6 p-0">
                <div class="card-header p-2 d-flex justify-content-between">
                    <div class="col">
                        <strong>
                            官方博客
                        </strong>
                    </div>
                    <div class="col text-right">
                        <a asp-action="Index" asp-controller="Article">查看更多</a>
                    </div>
                </div>

                <div class="card-block p-1">
                    @foreach (var blog in blogList)
                    {
                        <div class="row my-3 mx-1">
                            @*<div class="col-md-auto hidden-sm-down">
                                    <a href="@Url["r"]" target="_blank">
                                        <img class="bingnews-small" src="@bingNews.ThumbnailUrl">
                                    </a>
                                </div>*@
                            <div class="col px-1">
                                <div class="card-title mb-0">
                                    <a asp-controller="News" asp-action="RssNewsDetail" asp-route-id="@blog.Id" class="text-dark" title="@blog.Title">
                                        @blog.TitleCn
                                    </a>
                                </div>
                                <div class="card-text text-muted">
                                    <small>
                                        <span class="text-info">
                                            @blog.Author
                                        </span>

                                        @blog.LastUpdateTime.ToString("yyyy-M-dd")
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-2">
        <!--推荐下载-->
        <div class="card mb-1 p-0" style="overflow:hidden">
            <div class="card-block p-0">
                <div class="p-2 d-flex justify-content-between card-header">
                    <div class="col">
                        <strong>
                            推荐下载
                        </strong>

                    </div>
                    <div class="col text-right">
                        <a asp-controller="Download" asp-action="">更多</a>
                    </div>
                </div>
                @foreach (var download in downloadList)
                {
                    <div class="p-1">
                        <a href="@download.AbsolutePath" style="text-decoration:none" target="_blank" title="@download.Description">
                            @if (!string.IsNullOrEmpty(download.Imgurl))
                            {
                                <img src="@download.Imgurl" title="@download.Name" width="36" height="36" class="m-1" alt="@download.Name" />

                            }
                            <span>@download.Name</span>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!--推荐文档-->
        <div class="card mb-1">
            <div class="card-block p-0">
                <div class="p-2 d-flex justify-content-between card-header">
                    <div class="col">
                        <strong>
                            快捷文档
                        </strong>
                    </div>
                    <div class="col text-right">
                        <a asp-controller="Document" asp-action="">更多</a>
                    </div>
                </div>
                @foreach (var document in documentList)
                {
                    <div class="p-1">
                        <a href="@document.AbsolutePath" style="text-decoration:none" target="_blank" title="@document.Description">
                            @if (!string.IsNullOrEmpty(document.Imgurl))
                            {
                                <img src="@document.Imgurl" title="@document.Name" width="36" height="36" class="m-1" style="border-radius:2px !important" alt="@document.Name" />
                            }

                            <span>@document.Name</span>
                        </a>
                    </div>
                }
            </div>
        </div>

        <!--推荐服务-->
        <div class="card mb-1">
            <div class="card-block p-0 text-center">
                <div class="p-2 text-left card-header">
                    <strong>
                        推荐服务
                    </strong>
                </div>
                <div class="p-2">
                    <a href="http://www.qcloud.com/redirect.php?redirect=1001&cps_key=8451e9a1ec4d14dec1cd821e079065c1" target="_blank">
                        <img src="https://msdevccdiag579.blob.core.windows.net/msdev-image/txcloud.jpg" title="腾讯云主机" alt="腾讯云主机" width="100%" />
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>
