@model WebApp.Models.ViewModels.SearchViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "搜索-MSDev";

    var resources = Model.ResourceList.GroupBy(m => m.Catalog.Type).ToList();
    var c9Videos = Model.C9VideoList ?? default;
    var mvaVideos = Model.MvaVideoList ?? default;
}
<div class="row">
    <div class="col-md-12">
        <h3 class="mt-3">搜索结果:</h3>
        <div class="row mt-3">
            <div class="col-md-auto px-1">
                @foreach (var gorup in resources)
                {
                    var Type = gorup.First().Catalog.Type;
                    if (Type.Equals("文档"))
                    {
                        <section class="scrst-block">
                            <h4 class="scrst-title">文档</h4>
                            <div class="scrst-content">
                                @foreach (var resource in gorup)
                                {
                                    <div class="scrst-content-row">

                                        <a href="#">
                                            @resource.Name
                                        </a>
                                    </div>
                                }
                            </div>

                        </section>
                    }
                    if (Type.Equals("下载"))
                    {
                        <section class="scrst-block">
                            <h4 class="scrst-title">下载</h4>
                            <div class="scrst-content">
                                @foreach (var resource in gorup)
                                {
                                    <div class="scrst-content-row">

                                        <a href="#">
                                            @resource.Name
                                        </a>
                                    </div>
                                }
                            </div>

                        </section>
                    }
                }
            </div>
            <div class="col-auto px-1">
                <section class="scrst-block">
                    <h4 class="scrst-title">视频</h4>
                    <div class="scrst-content">
                        <h5 class="text-info">MVA视频</h5>
                        @foreach (var video in mvaVideos)
                        {
                            <div class="scrst-content-row">
                                <a asp-controller="Video" asp-action="Detail" asp-route-id="@video.Id">
                                    @video.Title
                                </a>
                                <br />
                                <small class="text-muted">
                                    @video.Author  @video.UpdatedTime.ToString("yyyy-MM-dd")
                                </small>
                            </div>
                        }
                        <hr />
                        <h5 class="text-info">Channel9视频</h5>
                        @foreach (var video in c9Videos)
                        {
                            <div class="scrst-content-row">
                                <a asp-controller="Video" asp-action="C9Detail" asp-route-id="@video.Id">
                                    @Html.Raw(video.Title)
                                </a>
                                <br />
                                <small class="text-muted">
                                    [@video.Duration]  @video.UpdatedTime.ToString("yyyy-MM-dd")
                                </small>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
