@model WebApp.Models.ViewModels.SearchViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "搜索-MSDev";
    ViewData["Container"] = "container-fluid";
    var resources = Model.ResourceList?.GroupBy(m => m.Catalog.Type).ToList();
    var searchVideos = Model.SearchVideoList;
    var videos = Model.VideoList;
    var blogs = Model.BlogList;
    var answers = Model.AnswerList;
}
<div class="row" style="min-height:800px">
    <div class="col-lg-12">
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-xl-2 col-md-3 px-xl-4 px-lg-3">
                @if (resources != null)
                {
                    foreach (var gorup in resources)
                    {
                        var Type = gorup.First().Catalog.Type;
                        if (Type.Equals("文档"))
                        {
                            <section class="scrst-block">
                                <h5 class="scrst-title">文档</h5>
                                <div class="scrst-content">
                                    @foreach (var resource in gorup)
                                    {
                                        <div class="scrst-content-row">

                                            <a href="#">
                                                @resource.Name
                                            </a>
                                        </div>
                                    }
                                </div>
                            </section>
                        }
                        if (Type.Equals("下载"))
                        {
                            <section class="scrst-block">
                                <h5 class="scrst-title">下载</h5>
                                <div class="scrst-content">
                                    @foreach (var resource in gorup)
                                    {
                                        <div class="scrst-content-row">

                                            <a href="#">
                                                @resource.Name
                                            </a>
                                        </div>
                                    }
                                </div>
                            </section>
                        }
                    }
                }
                @* 输出博客 *@
                @if (blogs != null)
                {
                    <section class="scrst-block">
                        <h5 class="scrst-title">博客</h5>
                        @foreach (var blog in blogs)
                        {
                            <div class="scrst-content">
                                <a asp-controller="Learn" asp-action="Blog" asp-route-id="@blog.Id">
                                    @blog.Title
                                </a>
                            </div>
                        }
                    </section>
                }
                @* 输出视频 *@
                @if (videos != null)
                {
                    <section class="scrst-block">
                        <h5 class="scrst-title">视频</h5>
                        @foreach (var video in videos)
                        {
                            <div class="scrst-content">
                                <a asp-controller="Video" asp-action="Detail" asp-route-id="@video.Id">
                                    @video.Name
                                </a>
                            </div>
                        }
                    </section>
                }
            </div>
            <section class="answer col-md-5">
                @if (answers != null)
                {
                    <div class="col-lg-12 px-xl-5 px-0" style="border-right:1px solid #eee;line-height:14px">
                        @foreach (var item in answers)
                        {
                            <div class="my-3">
                                <h5 class="mb-1">
                                    <a href="@item.Url">
                                        @item.Name
                                    </a>
                                </h5>
                                <small>
                                    <span class="text-muted">
                                        @item.Snippet
                                    </span>
                                    <br />
                                    <span class="text-info">
                                        @item.DisplayUrl
                                    </span>
                                </small>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <span>没有搜索到相应的结果!</span>
                }
            </section>
            <section class="video col-xl-2 col-md-3 px-xl-4 px-lg-3" style="line-height:16px">
                <h5>相关视频</h5>
                @if (searchVideos != null)
                {
                    foreach (var item in searchVideos)
                    {
                        <div class="row my-3 justify-content-md-center" data-cacheUrl="@item.CachedPageUrl">
                            <div class="col-md-12">
                                <a class="card-img-top" target="_blank" asp-action="SearchVideoJump" asp-route-url="@item.Url">
                                    <img src="@item.OpenGraphImage?.ContentUrl" style="max-height:200px;width:100%" />
                                </a>
                                <div class="card-body p-1">
                                    <small class="mb-0">
                                        <a class="card-img-top" target="_blank" asp-action="SearchVideoJump" asp-route-url="@item.Url">
                                            <strong>
                                                @item.Name
                                            </strong>
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span>没有搜索到相应的结果!</span>
                }
            </section>
        </div>

    </div>
</div>
