@{
    ViewData["Title"] = "资讯-微软中国开发者社区";
}
@model WebApp.Models.ViewModels.NewsViewModels
@{ 
    var bingNewsList = Model.BingNewsList;
}

@{
    foreach (var bingNews in bingNewsList)
    {
        <div class="row news-list">
            <div class="col-12 col-md-auto hidden-sm-down">
                <a href="@bingNews.Url" target="_blank">
                    <img class="bingnews" src="@bingNews.ThumbnailUrl" alt="">
                </a>
            </div>
            <div class="content col-md-8">
                <div class="news-title">
                    <a href="bingNews.url" target="_blank">
                        @bingNews.Title
                    </a>
                </div>


                <div class="news-sectitle">
                    @bingNews.UpdatedTime @bingNews.Provider
                </div>
                <div class="news-description">
                    @bingNews.Description
                </div>
            </div>
        </div>
    }
}

