@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="zh-cn"> 
    <meta name="keywords" content="微软中国开发者,msdev,msdevcc,微软开发者,dotnet,net core,xamarin,azure" />
    <meta name="description" content="微软中国开发者社区!本站点主要为国内用户，提供微软相关的资讯、优质的教学视频内容、常用的资源下载以及在线交流等一站式服务！" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]-MSDev微软中国开发者</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-expand-md" style="background-color:#2f2f2f;">
        <div class="container">
            <a class="navbar-brand app-title text-white" href="/">MSDev</a>
            <div class="d-flex d-block d-sm-none">
                <input class="form-control mr-sm-2 nav-search search-input" type="text" placeholder="资源/问题/视频" aria-label="Search">
            </div>
            <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li><a class="nav-link text-white" asp-controller="News" asp-action="Index">资讯</a></li>
                    @*<li class="dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dorpdownResource">资源</a>
                            <div class="dropdown-menu" aria-labelledby="dorpdownResource">
                                <a class="dropdown-item" asp-controller="Download" asp-action="Index">下载</a>
                                <a class="dropdown-item" asp-controller="Document" asp-action="Index">文档</a>
                            </div>
                        </li>*@
                    <li><a class="nav-link text-white" asp-controller="Learn" asp-action="Index">学习</a></li>
                    <li>@*<a class="nav-link" asp-controller="Activity" asp-action="Index">活动</a>*@</li>
                    <li><a class="nav-link text-white" asp-controller="Home" asp-action="About">关于</a></li>
                </ul>
                <div class="d-none d-md-block">
                    <input class="form-control mr-sm-2 nav-search search-input" type="text" placeholder="资源/问题/视频" aria-label="Search">
                </div>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
    <div class="@ViewData["Container"]">
        @RenderBody()
        <hr />
        <footer class="mb-2">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    &copy;
                    2017 - MSDev.cc
                    &nbsp;&nbsp;
                    <a class="" target="_blank"
                       href="//shang.qq.com/wpa/qunwpa?idkey=ebbb97aa70518e014b2539f45005e1c67f8d8f893794968ec4245b96516a079e">
                        <img id="qq_group" border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="MSDev社区" title="加入MSDev社区群">
                    </a>
                </div>
                <div col-md-6>
                    <span>
                        <a href="https://www.microsoft.com/net/core" target="_blank">.Net Core</a>
                        生态驱动
                    </span>
                    &nbsp;&nbsp;
                    <span>
                        <a href="https://azure.microsoft.com/zh-cn/" target="_blank">Azure</a>
                        云服务支持
                    </span>
                </div>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/baidu.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $(".search-input").keyup(function (event) {
            var keyword = $(this).val();
            if (event.keyCode == 13) {
                if (keyword.length > 2) {
                    location.href = "/Home/Search?keyword=" + encodeURIComponent(keyword);
                }
            }
        });
    });
</script>