@{
    Layout = "_Layout";
    ViewData["Title"] = "下载-MSDev";
}
@model WebApp.Models.ViewModels.DownloadViewModels

<div class="row">
    <div class="col-md-3">
        @{
            @foreach (var catalog in Model.Catalog)
            {
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-heading p-2" 
                       data-toggle="collapse" href="#collapse-@catalog.Value" aria-expanded="true" aria-controls="collapse-@catalog.Value">
                        @catalog.Name
                    </a>
                    <div class="collapse show" id="collapse-@catalog.Value">
                        @foreach (var childCatalog in catalog.InverseTopCatalog)
                        {
                            var id = ViewContext.RouteData.Values["id"]?.ToString();
                            string liClass = "";
                            if (id == childCatalog.Id.ToString().ToLower())
                            {
                                liClass = "active";
                            }
                            <a asp-route-id="@childCatalog.Id" class="list-group-item p-2 pl-4 @liClass">@childCatalog.Name</a>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-md-9">
        <div id="accordion" role="tablist">
            @if (Model.Resource != null)
            {
                <div class="row">
                    @foreach (var resource in Model.Resource)
                    {
                        <div class="col-md-6 my-1 p-1 px-2">
                            <div class="media p-1" style="border:1px solid #ccc;">

                                <div class="d-flex align-self-center mr-3">
                                    <a href="@resource.AbsolutePath" target="_blank">
                                        <img src="@resource.Imgurl" title="@resource.Name" style="width:64px;height:64px;" />
                                    </a>
                                </div>

                                <div class="media-body">
                                    <h5 class="mt-0">
                                        <a href="@resource.AbsolutePath" target="_blank">@resource.Name</a>
                                    </h5>

                                    <span class="badge badge-info">
                                        @TypeValueHelper.Language[resource.Language]
                                    </span>
                                    <span class="badge badge-primary">
                                        @TypeValueHelper.ResourceType[resource.Type]
                                    </span>
                                    <span class="text-muted">
                                        <small>
                                            更新:
                                            @resource.UpdatedTime.ToString("yyyy-MM-dd")
                                        </small>
                                    </span>
                                    <br />
                                    @resource.Description
                                    @if (resource.Sources.Count > 0)
                                    {
                                        <span>
                                            更多链接
                                        </span>
                                        foreach (var item in resource.Sources)
                                        {
                                            <a href="@item.Url">@item.Name</a>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
